<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css"
  >
    <title>Hello world!</title>
  </head>
  <body>
    <main class="container">
          <div class="grid">
            <!-- Side nav rail -->
           <div style="border-right:1px solid rgb(71, 31, 134); width: 200px; padding: 0px; margin: 0px;">

            <aside>
                <nav>
                    <ul>
              <li><strong>MedFlo</strong></li>
                    </ul>
                  <ul>
                    <li><a href="templates/amb_system.tmpl.html">Ambulance Ecosystem</a></li>
                    <li><a href="templates/comm_hub.tmpl.html">Communication Hub</a></li>
                    <li><a href="#">Patient Records</a></li>
                    <li><a href="#">Analytics And Insights</a></li>
                    
                  </ul>
                </nav>
              </aside>
           </div>
           <div style="padding:-10px; margin-left:-300px">
            <h1>
                Ambulance Ecosystem 
            </h1>
            <div style="width: 500px; height: 50px;"> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.415442614542!2d-76.74941092546068!3d18.005913484693767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb3f25665dbaa7%3A0xe9751e003ca27e7!2sUniversity%20of%20the%20West%20Indies!5e0!3m2!1sen!2sjm!4v1733250715837!5m2!1sen!2sjm" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
           </div>
          </div>
    </main>
  </body>
</html>