<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css"
  >
    <title>Hello world!</title>
  </head>
  <body>
    <main class="container">
          <div class="grid">
            <!-- Side nav rail -->
           <div style="border-right:1px solid rgb(71, 31, 134); width: 200px; padding: 0px; margin: 0px;">

            <aside>
                <nav>
                    <ul>
              <li><strong>Med Flow</strong></li>

                    </ul>
                  <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Patient Records</a></li>
                    <li><a href="#">Products</a></li>
                  </ul>
                </nav>
              </aside>
           </div>
           <div>
            <h1>
                Hello 
            </h1>
           </div>
          </div>
    </main>
  </body>
</html>